<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Student's dashboard</title>
<object th:include="common/header :: common-header" th:remove="tag"></object>
<style>
</style>
</head>

<body>

	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="course-panel panel panel-default animated fadeInDown">
					<div class="panel-heading">
						<!-- Trigger the modal with a button -->
						<a id="btnOpenSessionList" data-toggle="modal" data-target="#markParticipationPanel"
							class="pull-right btn btn-primary btn-xs small-corner-btn" href="#"><i
							class="fa fa-check-square"></i> Mark participation</a><a
							class="pull-right btn btn-primary btn-xs small-corner-btn" th:href="@{/student}"><i
							class="fa fa-chevron-circle-left"></i>Back</a><strong th:text="${course.name}"></strong>
					</div>
					<div class="panel-body">
						<table class="table table-condensed">
							<tr>
								<td>Course's description</td>
								<td colspan="3" th:text="${course.description}"></td>
							</tr>
							<tr>
								<td>Lecturer</td>
								<td colspan="3"><strong th:text="${teacher.firstname}+' '+${teacher.lastname}"></strong></td>
							</tr>
							<tr>
								<td>Email</td>
								<td colspan="3" th:text="${teacher.email}"></td>
							</tr>
							<tr>
								<td class="col-md-4">Start date</td>
								<td class="col-md-3" th:text="${course.startDate}"></td>
								<td class="col-md-3">End date</td>
								<td class="col-md-2" th:text="${course.endDate}"></td>
							</tr>
							<tr>
								<td>Start enrolling date</td>
								<td th:text="${course.startEnrollDate}"></td>
								<td>End enrolling date</td>
								<td th:text="${course.endEnrollDate}"></td>
							</tr>
						</table>
						<div class="jumbotron">
							<h3>Course's content</h3>
							<p>The content of the course will be placed here !</p>
							<p>Content is different between courses and can be edited by teacher</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="markParticipationPanel" class="modal fade" role="dialog"></div>

	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			/*<![CDATA[*/
			var reload_url = /*[[@{~/student/course/}+${course.id}+'/mark-participation']]*/"";
			/*]]>*/
			
			$('#btnOpenSessionList').click(function(){
				
				$('#markParticipationPanel').load(reload_url);
				
				//var token = $("meta[name='_csrf']").attr("content"); 
				//var header = $("meta[name='_csrf_header']").attr("content");

				
				
				
			});
		});
	</script>

</body>
</html>