<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Sign Up - Step 2</title>
<object th:include="common/header :: common-header" th:remove="tag"></object>
</head>
<body>
	<div th:replace="common/navbar :: common-navbar"></div>
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">

					<div class="panel-heading">
						<h4>Sign up - Step 2: Personal information</h4>
					</div>
					<div class="panel-body">

						<form action="#" th:action="@{/signup-next}" th:object="${signupAdminForm}" method="post">
							<div th:class="${#fields.hasErrors('firstname')}? 'form-group has-error' : 'form-group'">
								<label class="control-label" for="inputFirstname">First name</label>
								<input th:field="*{firstname}" type="text" id="inputFirstname" class="form-control"
									placeholder="Enter your first name" autofocus="autofocus" />
								<span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"
									class="label-important"></span>
							</div>
							<div th:class="${#fields.hasErrors('lastname')}? 'form-group has-error' : 'form-group'">
								<label class="control-label" for="inputLastname">Last name</label>
								<input th:field="*{lastname}" type="text" id="inputLastname" class="form-control"
									placeholder="Enter your last name" />
								<span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"
									class="label-important"></span>
							</div>
							<div th:class="${#fields.hasErrors('email')}? 'form-group has-error' : 'form-group'">
								<label class="control-label" for="inputEmail">Email</label>
								<input th:field="*{email}" type="text" id="inputEmail" class="form-control"
									placeholder="Enter your email" />
								<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="label-important"></span>
							</div>
							<button type="submit" class="btn btn-default">Sign up</button>
						</form>

					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<!-- /container -->
	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>
</body>
</html>