<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">
		<div class="page-header">
			<h1>Hello !</h1>
		</div>
		<p class="lead">Chào bạn, bạn là ai vậy ? Mình xin tự giới thiệu, mình là
			sói ! húuuuuu</p>
	</div>

	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>

</body>
</html>