<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Student Activity Tracking Application</title>
<object th:include="common/header :: common-header" th:remove="tag"></object>
</head>

<body>

	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">
		<div class="jumbotron">
			<h1>Student Activity Tracking Application</h1>
			<p>This example is a quick exercise to illustrate how the default, static navbar and fixed to
				top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and
				device.</p>
			<p>
				<a class="btn btn-lg btn-primary animated shake" th:href="@{/signup}" role="button">Get started <i class="fa fa-angle-double-right"></i></a>
			</p>
		</div>
	</div>

	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>

</body>
</html>