<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">

		<form class="form-signin" role="form" method="post">
			<h2 class="form-signin-heading">Please sign in</h2>
			<label for="inputEmail" class="sr-only">Email address</label> 
			<input type="text" id="username" class="form-control"
				placeholder="Username" required="required" autofocus="autofocus" /> <label
				for="inputPassword" class="sr-only">Password</label> 
			<input type="password" id="password" class="form-control"
				placeholder="Password" required="required" />
			<div class="checkbox">
				<label> <input type="checkbox" value="remember-me" />
					Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
		</form>

	</div>
	<!-- /container -->

	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>

</body>
</html>