<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Course Page</title>
<object th:include="common/header :: common-header" th:remove="tag"></object>
</head>
<body>
	<div th:replace="common/navbar :: common-navbar"></div>
	<div class="container">

		<div th:if="${flashMessage}" th:text="${flashMessage}"
			th:attr="class='alert alert-' + ${flashType} + ' alert-dismissable'">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			Any kind of message (success / failure)
		</div>

		<div class="row">
			<div class="panel panel-default animated fadeInDown">
				<div class="panel-heading">

					<div class="span6 pull-right" style="text-align: right">
						<a class="pull-right btn btn-primary" th:href="@{/teacher}"><i
							class="fa fa-chevron-circle-left"></i> Back</a>
							
						<a id="btnEditCourse" data-toggle="modal" data-target="#editCoursePanel" href="#" class="btn btn-primary pull-right"
							role="button" > <i class="fa fa-edit"></i> Edit Course Information </a>					
							
						<a href="#" th:href="@{'/teacher/course/' + ${courseId} + '/participants'}"
							class="btn btn-primary pull-right" role="button"> <i class="fa fa-group"></i> All
							Participants</a>
						<a href="#" th:href="@{'/teacher/course/' + ${courseId} + '/sessions'}"
							class="btn btn-primary pull-right" role="button"> <span
							class="glyphicon glyphicon-th-list"></span> All Sessions
						</a>
					</div>					
					<h4 th:text="${course.name}"></h4>
				</div>

				<div class="panel-body">
					<p>Course's content</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
	
	<!-- Modal -->
	<div id="editCoursePanel" class="modal fade" role="dialog"></div>
	
	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			/*<![CDATA[*/
			var reload_url = /*[[@{'/teacher/course/' + ${courseId} + '/edit'}]]*/"";
			/*]]>*/
			
			$('#btnEditCourse').click(function() {
				
				$('#editCoursePanel').load(reload_url);
			});
		});
	</script>
</body>
</html>