<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Course Page</title>
<object th:include="common/header :: common-header" th:remove="tag"></object>
</head>
<body>
	<div th:replace="common/navbar :: common-navbar"></div>
	<div class="container">

		<div th:if="${flashMessage}" th:text="${flashMessage}"
			th:attr="class='alert alert-' + ${flashType} + ' alert-dismissable'">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			Any kind of message (success / failure)
		</div>

		<div class="row">
			
			<div class="col-md-11 col-center">
				<div class="course-panel panel panel-default animated fadeInDown">
					<div class="panel-heading">
						<!-- Trigger the modal with a button -->
						<a class="pull-right btn btn-primary btn-xs small-corner-btn" th:href="@{/teacher}"><i
							class="fa fa-chevron-circle-left"></i>Back</a>
							
						<a id="btnEditCourse" data-toggle="modal" data-target="#editCoursePanel"
							class="pull-right btn btn-primary btn-xs small-corner-btn" href="#"><i
							class="fa fa-edit"></i> Edit course info</a>
						<a th:href="@{'/teacher/course/' + ${courseId} + '/participants'}"
							class="pull-right btn btn-primary btn-xs small-corner-btn"><i
							class="fa fa-group"></i> All participants</a>
						<a th:href="@{'/teacher/course/' + ${courseId} + '/sessions'}"
							class="pull-right btn btn-primary btn-xs small-corner-btn"><i
							class="fa fa-bars"></i> All sessions</a>
						
						<strong th:text="${course.name}"></strong>
					</div>
					<div class="panel-body">
						<table class="table table-condensed">
							<tr>
								<td>Course's description</td>
								<td colspan="3" th:text="${course.description}"></td>
							</tr>
							<tr>
								<td>Lecturer</td>
								<td colspan="3"><strong th:text="${teacher.firstname}+' '+${teacher.lastname}"></strong></td>
							</tr>
							<tr>
								<td>Email</td>
								<td colspan="3" th:text="${teacher.email}"></td>
							</tr>
							<tr>
								<td class="col-md-4">Start date</td>
								<td class="col-md-3" th:text="${course.startDate}"></td>
								<td class="col-md-3">End date</td>
								<td class="col-md-2" th:text="${course.endDate}"></td>
							</tr>
							<tr>
								<td>Start enrolling date</td>
								<td th:text="${course.startEnrollDate}"></td>
								<td>End enrolling date</td>
								<td th:text="${course.endEnrollDate}"></td>
							</tr>
						</table>
						<div class="jumbotron">
							<h3>Course's content</h3>
							<p>The content of the course will be placed here !</p>
							<p>Content is different between courses and can be edited by teacher</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- /container -->

	<!-- Modal -->
	<div id="editCoursePanel" class="modal fade" role="dialog"></div>

	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>
	<script type="text/javascript" th:inline="javascript">
		$(document)
				.ready(
						function() {
							/*<![CDATA[*/
							var reload_url = /*[[@{'/teacher/course/' + ${course.id} + '/edit'}]]*/"";
							/*]]>*/

							$('#btnEditCourse').click(function() {
								$('#editCoursePanel').load(reload_url);
							});
						});
	</script>
</body>
</html>