<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Dashboard - Teacher</title>
<object th:include="common/header :: common-header" th:remove="tag"></object>
</head>

<body>
	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">

		<div th:if="${flashMessage}" th:text="${flashMessage}"
			th:attr="class='alert alert-' + ${flashType} + ' alert-dismissable'">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			Any kind of message (success / failure)
		</div>

		<div class="row">
			<div id="teacherHome" class="panel panel-default">

				<div class="panel-heading">
					<div class="span6 pull-right" style="text-align: right">
						<a id= "btnNewCourse" data-toggle="modal" data-target="#newCoursePanel" href="#" class="btn btn-info btn-right"
							role="button"> <i class="fa fa-plus-circle"></i> New Course
						</a>
					</div>
					<h4>Courses overview</h4>
				</div>

				<div class="panel-body">

					<div th:each="course : ${courses}" class="list-group">
						<div class="list-group-item row courseListItem" th:attr="courseIdUrl1=${course.id}">
							<a href="#" th:href="@{'/teacher/course/' + ${course.id} }" th:text="${course.name}">SE</a>	
																		
							<a data-toggle="modal" data-target="#deleteCoursePanel" 
								class="courseitem btn btn-default pull-right" role="button" th:attr="courseIdUrl2=${course.id}"> <i class="fa fa-minus-square-o"></i>
								Delete
							</a>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
	
	<!-- Modal -->
	<div id="newCoursePanel" class="modal fade" role="dialog"></div>
	<div id="deleteCoursePanel" class="modal fade" role="dialog"></div>
	
	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			/*<![CDATA[*/
			var reload_new_url = /*[[@{~/teacher/new-course}]]*/"";
			var prefix_reload_delete_url = /*[[@{~/teacher/course/}]]*/"";
			var suffic_reload_delete_url = "/delete";
			
			/*]]>*/
			
			$('#btnNewCourse').click(function(){
				
				$('#newCoursePanel').load(reload_new_url);
			});
			
			$('#newCoursePanel').on('hidden.bs.modal', function () {	
				
				location.reload();
				
			});
			
			$('.courseitem').click(function(){
				var courseIdModal =  $(this).attr("courseIdUrl2");
				$('#deleteCoursePanel').load(prefix_reload_delete_url +courseIdModal + suffic_reload_delete_url );
			});
			
			//$('#deleteCoursePanel').on('hidden.bs.modal', function () {				
				//location.reload();						
			//});
		});
	
	</script>
		
</body>
</html>