<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Teacher's dashboard</title>
<object th:include="common/header :: common-header" th:remove="tag"></object>
</head>

<body>
	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">

		<div th:if="${flashMessage}" th:text="${flashMessage}"
			th:attr="class='alert alert-' + ${flashType} + ' alert-dismissable'">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			Any kind of message (success / failure)
		</div>

		<div class="row">
			<div id="teacherHome" class="panel panel-default modal-lg">
					
				<div class="panel-heading">
					<a id="btnNewCourse" data-toggle="modal" data-target="#newCoursePanel" class="pull-right btn btn-primary btn-xs small-corner-btn"><i
						class="fa fa-plus-circle"></i> Add new course</a><strong>Dashboard</strong>
				</div>
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-md-1 text-center">#</th>
								<th>Course's name</th>
								<th class="col-md-1"></th>
								<th class="col-md-1"></th>
							</tr>
						</thead>
						<tbody>
							<tr class='courseListItem' th:each="course,iterationStatus : ${courses}" th:attr="courseIdUrl1=${course.id}">
								<td class="text-center" th:text="${iterationStatus.count}"></td>
								<td th:text="${course.name}"></td>
								<td><a th:href="@{/teacher/course/}+${course.id}" class="btn btn-info btn-right btn-xs" role="button"> <i class="fa fa-desktop"></i> View course content </a> </td>
								<td><a data-toggle="modal" data-target="#deleteCoursePanel" class="courseitem btn btn-danger btn-right btn-xs" th:attr="courseIdUrl2=${course.id}" role="button"> <i class="fa fa-minus-square-o"></i> Delete </a> </td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
	</div>
	<!-- /container -->
	
	<!-- Modal -->
	<div id="newCoursePanel" class="modal fade" role="dialog"></div>
	<div id="deleteCoursePanel" class="modal fade" role="dialog"></div>
	
	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			/*<![CDATA[*/
			var reload_new_url = /*[[@{~/teacher/new-course}]]*/"";
			var prefix_reload_delete_url = /*[[@{~/teacher/course/}]]*/"";
			var suffic_reload_delete_url = "/delete";
			/*]]>*/
			
			$('#btnNewCourse').click(function(){
				$('#newCoursePanel').load(reload_new_url);
			});
			
			$('#newCoursePanel').on('hidden.bs.modal', function () {	
				location.reload();
			});
			
			$('.courseitem').click(function(){
				var courseIdModal =  $(this).attr("courseIdUrl2");
				$('#deleteCoursePanel').load(prefix_reload_delete_url +courseIdModal + suffic_reload_delete_url );
			});
			
			//$('#deleteCoursePanel').on('hidden.bs.modal', function () {				
				//location.reload();						
			//});
		});
	
	</script>
		
</body>
</html>