<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<object th:include="common/header :: common-header" th:remove="tag"></object>

</head>
<body>

	<div th:fragment="newCourse" class="modal-dialog model-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">

				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">New Course</h4>
			</div>
			<div th:if="${flashType != null}" th:class="'hien-modal-alert alert alert-'+${flashType}+' fade in alert-dismissable'">
				  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  <span th:text="${flashMessage}"></span>
			</div>
			<div class="modal-body">
				
				<form id="myForm" action="#" th:action="@{'/teacher/new-course'}" th:object="${courseForm}" method="post" class="form-control-sm">
					<div th:class="${#fields.hasErrors('name')}?  'form-group has-error' : 'form-group'">
						<label class="control-label" for="inputName">Course Name : *</label> <input
							class="form-control" th:field="*{name}" type="text" id="inputName"
							placeholder="Enter course's name" /> <span th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}" class="label-important"></span>
					</div>

					<div th:class="${#fields.hasErrors('description')}?  'form-group has-error' : 'form-group'">
						<label class="control-label" for="inputDescription">Description : *</label>
						<textarea class="form-control" th:field="*{description}" rows="3" id="inputDescription"
							placeholder="Enter course's description"> </textarea>
						<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
							class="label-important"></span>
					</div>

					<div th:class="${#fields.hasErrors('startDate')}?  'form-group has-error' : 'form-group'">
						<label class="control-label" for="inputStartDate">Start Course Date : *</label> <input
							class="form-control datetimepicker" th:field="*{startDate}" type="text" id="inputStartDate"
							placeholder="Enter course's start date" /> <span th:if="${#fields.hasErrors('startDate')}"
							th:errors="*{startDate}" class="label-important"></span>
					</div>

					<div th:class="${#fields.hasErrors('endDate')}?  'form-group has-error' : 'form-group'">
						<label class="control-label" for="inputEndDate">End Course Date : *</label> <input
							class="form-control datetimepicker" th:field="*{endDate}" type="text" id="inputEndDate"
							placeholder="Enter course's end date" /> <span th:if="${#fields.hasErrors('endDate')}"
							th:errors="*{endDate}" class="label-important"></span>
					</div>

					<div th:class="${#fields.hasErrors('startEnrollDate')}?  'form-group has-error' : 'form-group'">
						<label class="control-label" for="inputStartEnrollDate">Start Enroll Date : *</label> <input
							class="form-control datetimepicker" th:field="*{startEnrollDate}" type="text" id="inputStartEnrollDate"
							placeholder="Enter course's start enroll date" /> <span
							th:if="${#fields.hasErrors('startEnrollDate')}" th:errors="*{startEnrollDate}"
							class="label-important"></span>
					</div>

					<div th:class="${#fields.hasErrors('endEnrollDate')}?  'form-group has-error' : 'form-group'">
						<label class="control-label" for="inputEndEnrollDate">End Enroll Date : *</label> <input
							class="form-control datetimepicker" th:field="*{endEnrollDate}" type="text" id="inputEndEnrollDate"
							placeholder="Enter course's end enroll date" /> <span
							th:if="${#fields.hasErrors('endEnrollDate')}" th:errors="*{endEnrollDate}"
							class="label-important"></span>
					</div>

					<button id="btnAddCourse" type="submit" class="btn btn-primary">
						Create <i class="fa fa-pencil-square-o"></i>
					</button>
					<button id="btnClose" type="button" class="btn btn-primary" data-dismiss="modal">Close <span class="glyphicon glyphicon-remove-sign"></span></button>

				</form>

				<script th:src="@{/custom/js/jquery.datetimepicker.full.min.js}"></script>
				<script type="text/javascript" th:inline="javascript">
					$(document).ready(function() {
						/*<![CDATA[*/
						var addCourse_url = /*[[@{~/teacher/new-course}]]*/"";
						/*]]>*/

						var token = $("meta[name='_csrf']").attr("content");
						var header = $("meta[name='_csrf_header']").attr("content");					

						$('#btnAddCourse').click(function(event) {	
							event.preventDefault();
								$.ajax({
									type : "POST",
									url : addCourse_url,
									data : $('#myForm').serialize(),
									async : true,
									//contentType : "application/json; charset=utf-8",
									beforeSend : function(
											xhr) {
										//xhr.setRequestHeader("Accept", "application/json");
										//xhr.setRequestHeader("Content-Type", "application/json");
										xhr.setRequestHeader(
											header,
											token);
										},
									success : function(data) {
										$('#newCoursePanel').html(data);
									}
								});
								
								
						});
						
						
						$('#inputStartDate').datetimepicker({
							timepicker : false,
							mask : false,
							format : 'Y-m-d'
						});

						$('#inputEndDate').datetimepicker({
							timepicker : false,
							mask : false,
							format : 'Y-m-d'
						});

						$('#inputStartEnrollDate').datetimepicker({
							timepicker : false,
							mask : false,
							format : 'Y-m-d'
						});

						$('#inputEndEnrollDate').datetimepicker({
							timepicker : false,
							mask : false,
							format : 'Y-m-d'
						});
						
					});
				</script>
				
			</div>

		</div>
		<!-- Modal content-->
	</div>
	


</body>
</html>