<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Access Denied</title>
<object th:include="common/header :: common-header" th:remove="tag"></object>
</head>

<body>

	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">

		<div class="generic-container">
			<div class="authbar">
				<span>Dear <strong th:text="${loggedinUser}">user</strong>, you are not authorized to access this page.
				</span> <span class="floatRight"><a th:href="@{/logout}">Logout</a></span>
			</div>
		</div>

	</div>
	<!-- /container -->

	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>
</body>
</html>