<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Session Expired</title>
<object th:include="common/header :: common-header" th:remove="tag"></object>
</head>

<body>

	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">

		<div class="generic-container">
			<div class="authbar">
				<span>Your session has expired, please <a th:href="@{/login}">login</a> again !</span>
			</div>
		</div>

	</div>
	<!-- /container -->

	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>
</body>
</html>