<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

	<nav th:fragment="common-navbar" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">VAMK</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul sec:authorize="isAnonymous() or isAuthenticated()" class="nav navbar-nav">
					<li class="active"><a href="#about">About</a></li>
				</ul>
				<ul sec:authorize="hasRole('STUDENT')" class="nav navbar-nav">
					<li><a th:href="@{/student}">Dashboard</a></li>
					<li><a th:href="@{/student/enrollment}">Course enrollment</a></li>
				</ul>
				<ul sec:authorize="hasRole('TEACHER')" class="nav navbar-nav">
					<li><a th:href="@{/teacher}">Dashboard</a></li>
				</ul>
				<ul sec:authorize="hasRole('ADMIN')" class="nav navbar-nav">
					<li><a th:href="@{/admin}">Dashboard</a></li>
				</ul>
				
				<ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
					<li><a href="signup.html" th:href="@{/signup}">Sign up</a></li>
					<li class="divider-vertical"></li>
					<li><a href="signin.html" th:href="@{/login}">Sign in</a></li>
				</ul>

				<ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span
							class="glyphicon glyphicon-user"> </span> <span sec:authentication="principal.user.username">
						</span> <b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><!-- <a th:href="@{/user/} + ${#authentication.principal.user.id}"> -->
							<a th:href="@{/profile}"><span
									class="glyphicon glyphicon-user"></span> Profile
							</a></li>
							<li>
								<form id="logoutForm" th:action="@{/logout}" method="post">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
								</form> <a href="javascript:document.getElementById('logoutForm').submit()"> <span
									class="glyphicon glyphicon-log-out"></span>Sign out
								</a>
							</li>
						</ul>
					</li>
				</ul>
				
			</div>
			<!--/.nav-collapse -->

		</div>
	</nav>

</body>
</html>