<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="studentSession" class="modal-dialog model-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Session history</h4>
			</div>
			<div th:if="${noSessionFound} == false" class="modal-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th>Session name</th>
							<th class="text-center">Start time</th>
							<th class="text-center">End time</th>
							<th class="text-center">Date</th>
							<th>Category</th>
							<th class="text-center">Participation</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="instance,iterationStatus : ${participationList}">
							<td class="text-center" th:text="${iterationStatus.count}"></td>
							<td th:text="${instance.key.name}"></td>
							<td class="text-center" th:text="${instance.key.startTime}"></td>
							<td class="text-center" th:text="${instance.key.endTime}"></td>
							<td class="text-center" th:text="${instance.key.sessionDate}"></td>
							<td th:text="${instance.key.sessionCategory}"></td>
							<td class="text-center"><i th:if="${instance.value == true}" class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td class="text-center" colspan="6"><strong>Total</strong></td>
							<td class="text-center"><strong th:text="${participationRate}"></strong></td>
						</tr>
					</tbody>
				</table>
				<div class="panel panel-default">
					<div class="panel-body">
						<form th:if="${allowMark} == true" class="form-inline form-group-sm pull-right"
							th:action="@{/student/course/} + ${course.id} + '/mark-participation'" method="post">
							<div class="form-group">
								<label for="inputPassword">Password</label>
								<input type="password" class="form-control" id="inputPassword" name="sessionPassword"
									placeholder="Password" />
							</div>
							<button type="submit" class="btn btn-default">Mark participation</button>
						</form>
					</div>
				</div>
			</div>

			<div th:if="${noSessionFound} == true" class="modal-body">
				<h4>No session available !</h4>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>

</body>
</html>