<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Student's dashboard</title>
<object th:include="common/header :: common-header" th:remove="tag"></object>
</head>

<body>

	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">
		<div class="jumbotron text-center">
			<h1>Student Activity Tracking Application</h1>
			<br/>
			<p style="font-size: 20px; line-height: 32px">Student Activity Tracking Application is a web-based application, which allows students to register and manipulate their courses as well as mark their participation to the classroom's session. Besides, teachers are able to add, manage their own courses or even students in the courses. The application facilitates teachers and students' works during the course.</p>
			<br/>
		</div>
	</div>

	<div th:replace="common/footer :: common-footer"></div>
	<div th:replace="common/footer :: footer-scripts"></div>

</body>
</html>